.footer-container {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center; /* Adiciona alinhamento vertical */
  text-align: center;
  color: #dfe5f1;
  border-top: 1px solid #d1d5db; /* Adicione a espessura da borda (1px) */
  width: 100%; /* Garante que ocupe toda a largura */
  margin: 0 auto; /* Centraliza horizontalmente */
}