.Navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 70, 44, 0.753);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3px); 
  padding: 12px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-radius: 0 26px 0 26px;

}

/* Container do menu */
.navBar {
  margin-left: 20px;
  display: flex;
  gap: 30px;
}

/* Links do menu */
.LinhaNav {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  font-family: 'Montserrat', sans-serif;
}

.LinhaNav:hover {
  color: #ffffff;
  transition:10ms;
  transform: scale(1);
}

/* Botões (login e cadastro) */
.navButtons {
  display: flex;
  gap: 15px;
  margin-right: 20px;
}

.navButton {
  border: 2px solid #fff;
  padding: 6px 14px;
  border-radius: 25px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;  
}

.navButton:hover {
  border: 2px solid #f1faf562;
   transform: scale(1.1);
  background: #0e482743;
  color: #ffff;
}
